.Container {
    text-align: center;
    background: #fff;
    padding: 24;
    min-height: 100px; 
  }
  
  .Tour{
    width: 50%;
    margin:  10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    min-width: 100px;
  }
  